<input type="file" placeholder="subir foto" accept="image/*" #inputFile (change)="test(inputFile)" />
<!-- <button (click)="testCanvas()">Canvas</button> -->
<!-- <router-outlet></router-outlet> -->
<div #gallery>
    <button (click)="previous()">previa</button>
    <button (click)="next()">siguiente</button>
    <div *ngIf="preview != ''" style="width:200px;height:200px">
        <img id="preview" src="{{ preview }}" style="height: inherit;" />
    </div>
    <div style="display:flex;" #carrousell>
        <div *ngFor="let image of images; index as i">
            <button (click)="removeImage(i)" style="border: none;
                opacity: 68%;
                position: fixed;
                border-radius: 10px;
                margin: 4px;
                margin-left: 75px;">x</button>
            <img style="width:100px;height:100px;" (click)="view(i)" src="{{image}}" />
        </div>
    </div>
</div>